{% extends 'obywatele/menu.html' %}
{% load static %}
{% load i18n %}

{% block citizens %}
<link rel="stylesheet" href="{% static 'obywatele/css/citizens_list.css' %}">

  
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Nick</th>
			<th scope="col">Email</th>
			<th scope="col">{% trans 'First name' %}</th>
			<th scope="col">{% trans 'Last name' %}</th>
			<th scope="col">{% trans 'Last login' %}</th>
			{% comment %} Trzeba by dodać citizens żeby wyświetlić datę przyjęcia. date_joined to data zaproponowania kandydata. {% endcomment %}
			{% comment %} <th scope="col">{% trans 'Joined at' %}</th> {% endcomment %}
	  	</tr>
	</thead>
	<tbody>
		{% for i in uid %}
			<tr class="user-row" data-user-id="{{ i.pk }}">
				<td>{{ i.username }}</td>
				<td class="email-cell">
					{{ i.email }}
					<button class="btn btn-sm btn-light copy-btn" data-email="{{ i.email }}" title="{% trans 'Copy email' %}">
						<i class="fas fa-copy"></i>
					</button>
				</td>
				<td>{{ i.first_name }}</td>
				<td>{{ i.last_name }}</td>
				<td>{{ i.last_login|date:"Y-m-d" }}</td>
				{% comment %} Trzeba by dodać citizens żeby wyświetlić datę przyjęcia. date_joined to data zaproponowania kandydata. {% endcomment %}
				{% comment %} <td><a href="{{ i.pk }}">{{ i.date_joined|date:"Y-m-d" }}</a></td> {% endcomment %}
			</tr>
		{% endfor %}
	</tbody>
</table>

<script src="{% static 'obywatele/js/citizens_list.js' %}"></script>

{% endblock citizens %}