tr.user-row {
  cursor: pointer;
}
tr.user-row:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

tr.user-row .copy-btn {
  padding: 0px 5px;
  margin-left: 5px;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

tr.user-row:hover .copy-btn {
  opacity: 1;
}

.email-cell {
  white-space: nowrap;
}
