{% extends "home/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
  <h1>{% trans "Verify Your E-mail Address" %}</h1>

  <p><b>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.{% endblocktrans %}</b></p>
  <p>{% blocktrans %}After verifying your email, you wont be able to login immidietally. You have to wait a bit to be approved by community.{% endblocktrans %}</p>

{% endblock %}
